<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>

    </style>
</head>

<body>
    <%- include('navbar', {pages: "viewContacts"} ) %>
    <header>
        <h1>Contacts</h1>
    </header>
    <div>
        <% contacts.forEach(function(contact) { %>
            <div>
                <h2><%= contact.firstname %> <%= contact.lastname %></h2>
                <p>Email: <%= contact.email %></p>
                <p>Phone: <%= contact.phone %></p>
                <a href="/delete/<%= contact.firstname %>">Delete contact</a>
            </div>
        <% }); %>
    </div>

</html>
